.footer__items {
  bottom: 0;
  height: 60px;
  background: linear-gradient(
    90deg,
    rgb(48, 150, 168) 0%,
    rgb(32, 177, 221) 100%
  );
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}
.footer__menu {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 80vw;
  justify-content: start;
}
.credit {
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
  font-size: 16px;
}
