:root {
  --primary: #3acbf7;
}
.btn {
  padding: 10px 20px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  color: #fff;
}
.btn:hover {
  padding: 10px 20px;
  transform: all 0.3s ease-out;
  background: #fff;
  color: #6568f4;
  transition: 250ms;
}
.btn__primary {
  background-color: var(--primary);
}
.btn__outline {
  background-color: transparent;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}
.btn__medium {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  color: #fff;
}
.btn__large {
  padding: 12px 24px;
  border-radius: 5px;
  font-size: 20px;
  color: #fff;
}
